<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Link Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="{{url_for('main.index')}}">
                <img
                        src="{{ url_for('static', filename='img/logo.png') }}"
                        height="50"
                        alt="LINKME Logo"
                        loading="lazy"
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-2">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        Home
                    </a>
                </li>
                <li class="nav-item px-2">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.home') }}" class="navbar-item">
                            Link Home
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item px-2">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.stats') }}" class="navbar-item">
                            Statistics
                        </a>
                    {% endif %}
                </li>

            </ul>


            <!-- Left links -->
        </div>

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not current_user.is_authenticated %}
                    <li class="px-2">
                        <a href="{{ url_for('auth.login') }}" class='btn btn-primary px-3'>
                            Login
                        </a>
                    </li>

                    <li class="px-2">
                        <a class="btn btn-dark px-3" href="{{ url_for('auth.signup') }}">
                            Sign Up
                        </a>
                    </li>


                {% endif %}
                {% if current_user.is_authenticated %}
                    {% if current_user%}
                    <li class="px-2">Welcome {{ current_user.firstname }} {{ current_user.lastname }}

                    </li>
                        {% endif %}
                    <li class="px-2">

                        <a  href="{{ url_for('auth.changepassword') }}">
                            Change Password
                        </a>

                    </li>
                    <li class="px-2">

                        <a class="btn btn-dark px-3" href="{{ url_for('auth.logout') }}">
                            Logout
                        </a>

                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
    <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>

<section class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="box">


        {% block content %}
        {% endblock %}
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>