{% extends "base.html" %}
{% block content %}


    <div class="column is-4 is-offset-4" style="width: 400px;">
        <h3 class="title">Change Password</h3>
        <div class="box">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="text-danger">
                        {{ messages[0] }}.</a>.
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST" action="/changepassword" >
                <div class="field mx-auto mt-2">
                    <div class="control">
                        <input class="form-control form-control-lg" type="password" id="old_password" name="old_password" placeholder="Old Password" autofocus="" required>
                    </div>
                </div>

                <div class="field mx-auto mt-2">
                    <div class="control">
                        <input class="form-control form-control-lg" type="password" id="new_password" name="new_password" placeholder="New Password" autofocus="" required>
                    </div>
                </div>

                <div class="field mx-auto mt-2">
                    <div class="control">
                        <input class="form-control form-control-lg" type="password" id="verify_password" name="verify_password" placeholder="Verify New Password" required>
                    </div>
                </div>

                <button class="btn btn-lg btn-secondary px-2 mt-2">Change Password</button>
            </form>
        </div>
    </div>

{% endblock %}