{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box" style="width: 400px;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="text-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <form method="POST" action="/login">
                    <div class="mx-auto mt-2">
                        <div class=form-group">
                            <input class="form-control form-control-lg" type="email" name="email" placeholder="Your Email" autofocus="">
                        </div>
                    </div>

                    <div class="mx-auto mt-3">
                        <div class="form-group">
                            <input class="form-control form-control-lg" type="password" name="password" placeholder="Your Password">
                        </div>
                    </div>
                    <div class="mx-auto">
                        <label class="form-check">
                            <input type="checkbox" name="remember">
                            Remember me
                        </label>
                    </div>

                    <button class="btn btn-primary">Login</button>
                    <a href="{{url_for('auth.forgotpassword')}}">Forget Password?</a>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}